[run]
branch = True

[report]
omit =
    */python?.?/*
    */venv/*
    */site-packages/nose/*
    */tests/*
    */_version.py
    */versioneer.py
    *__init__*
    */setup.py
    */flowauth/migrations/*

exclude_lines =
    # Need to explicitly re-enable the standard pragma
    pragma: no cover

    if __name__ == '__main__':
    def __repr__

show_missing = True
