#
# DOCKER COMPOSE FOR FLOWKIT
#

version: '3.7'

networks:
  db:
  redis:
  zero:

services:

  flowdb:
    container_name: flowdb
    image: flowminder/flowdb:master
    ports:
      - ${FLOWDB_PORT:-9000}:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-flowdb}
      - POSTGRES_USER=${POSTGRES_USER:-flowdb}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-flowflow}
      - FM_PASSWORD=${FM_PASSWORD:-foo}
      - API_PASSWORD=${API_PASSWORD:-foo}
    shm_size: 1G
    tty: true
    stdin_open: true
    restart: always
    volumes:
      - data_volume_flowdb:/var/lib/postgresql/data
    networks:
      - db

  flowdb_testdata:
    container_name: flowdb_testdata
    image: flowminder/flowdb:testdata-latest
    ports:
      - ${FLOWDB_TESTDATA_PORT:-9001}:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-flowdb}
      - POSTGRES_USER=${POSTGRES_USER:-flowdb}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-flowflow}
      - FM_PASSWORD=${FM_PASSWORD:-foo}
      - API_PASSWORD=${API_PASSWORD:-foo}
    tty: true
    shm_size: 1G
    stdin_open: true
    restart: always
    networks:
      - db

  flowdb_synthetic_data:
    container_name: flowdb_synthetic_data
    image: flowminder/flowdb:synthetic-data-latest
    build:
      context: ./flowdb/testdata
      dockerfile: Dockerfile.synthetic_data
    ports:
      - ${FLOWDB_SYNTHDATA_PORT:-9002}:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-flowdb}
      - POSTGRES_USER=${POSTGRES_USER:-flowdb}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-flowflow}
      - FM_PASSWORD=${FM_PASSWORD:-foo}
      - API_PASSWORD=${API_PASSWORD:-foo}
      - N_DAYS=${N_DAYS:-7}
      - N_CELLS=${N_CELLS:-500}
      - N_CALLS=${N_CALLS:-2000}
    tty: true
    shm_size: 1G
    stdin_open: true
    restart: always
    networks:
      - db

  flowapi:
    container_name: flowapi
    image: flowminder/flowapi:master
    build:
      context: ./flowapi
      dockerfile: Dockerfile
    ports:
      - ${FLOWAPI_PORT:-9090}:9090
    environment:
      - SERVER=flowmachine
      - DB_USER=reporter
      - DB_PASS=${REPORTER_PASSWORD:-foo}
      - DB_HOST=${DB_HOST:-flowdb}
      - DB_PORT=${DB_PORT:-5432}
      - JWT_SECRET_KEY=secret
      - LOG_LEVEL=${LOG_LEVEL:-debug}
    volumes:
      - ./flowapi/app:/app
      - data_volume_flowapi_logs:/var/logs/flowkit/
    tty: true
    stdin_open: true
    restart: always
    networks:
      - db
      - zero

  flowmachine:
    container_name: flowmachine
    image: flowminder/flowmachine:master
    build:
      context: ./flowmachine
      dockerfile: Dockerfile
    ports:
      - ${FLOWMACHINE_PORT:-5555}:5555
    volumes:
      - ./flowmachine/:/app
    tty: true
    stdin_open: true
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-debug}
      - DEBUG=${FM_DEBUG:-True}
      - DB_PORT=${DB_PORT:-5432}
      - DB_HOST=${DB_HOST:-flowdb}
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-fm_redis}
    restart: always
    networks:
      - zero
      - db
      - redis

  redis:
    container_name: redis_flowkit
    image: bitnami/redis
    ports:
      - ${REDIS_PORT:-6379}:6379
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD:-fm_redis}
    restart: always
    networks:
      redis:
        aliases:
          - redis



volumes:
    data_volume_flowdb:
    data_volume_flowapi_logs:
