# This .dockerignore file follows the "whitelisting" approach described here:
#    https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html

#
# First, exclude everything by default:
#
*

#
# Now un-exclude only those folders and files that are needed for building the image:
#
!Pipfile
!Pipfile.lock
!flowmachine-core/flowmachine_core
!flowmachine-queries/flowmachine_queries
!flowmachine-server/flowmachine_server
!flowmachine-core/setup.cfg
!flowmachine-core/setup.py
!flowmachine-core/MANIFEST.in
!flowmachine-core/README.md
!flowmachine-core/versioneer.py
!flowmachine-server/setup.cfg
!flowmachine-server/versioneer.py
!flowmachine-server/setup.py
!flowmachine-server/MANIFEST.in
!flowmachine-server/README.md
!flowmachine-queries/setup.cfg
!flowmachine-queries/setup.py
!flowmachine-queries/MANIFEST.in
!flowmachine-queries/README.md
!flowmachine-queries/versioneer.py
