[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
cachetools = "*"
numpy = "*"
networkx = "*"
pandas = "*"
pglast = "*"
python-dateutil = "*"
pytz = "*"
python-louvain = "*"
pyzmq = "*"
"psycopg2-binary" = "*"
structlog = "*"
shapely = "*"
finist = "*"
python-rapidjson = "*"
marshmallow = {editable = true,ref = "3.0.0rc7",git = "https://github.com/marshmallow-code/marshmallow.git"} # Temporarily required while there's a marshmallow versions conflict
marshmallow-oneofschema = "*"
apispec-oneofschema = "*"
get_secret_or_env_var = "*"

[dev-packages]
ipykernel = "*"
ipython = "*"
pre_commit = "*"
geojson = "*"
geopandas = "*"
descartes = "*"
black = "==19.3b0"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-testmon = "*"
asynctest = "*"
cachey = "*"
approvaltests = "*"
watchdog = "*"
ipdb = "*"

[requires]
python_version = "3.7"
