[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flowmachine = {editable=true,path = "./flowmachine-core"}
flowmachine-queries = {editable=true,path = "./flowmachine-queries"}
flowmachine-server = {editable=true,path = "./flowmachine-server"}

[requires]
python_version = "3.7"
