[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
cachetools = "*"
numpy = "*"
networkx = "*"
pandas = "*"
pglast = "*"
python-dateutil = "*"
pytz = "*"
python-louvain = "*"
pyzmq = "*"
"psycopg2-binary" = "*"
structlog = "*"
shapely = "*"
finist = "*"
python-rapidjson = "*"
marshmallow = {ref = "3.0.0rc5", git = "https://github.com/marshmallow-code/marshmallow.git"} # Temporarily required while there's a marshmallow versions conflict
marshmallow-oneofschema = {ref = "8195dc3e595fa33a5f007f10ba7cfc08f2177515", git = "https://github.com/marshmallow-code/marshmallow-oneofschema.git"} # Temporarily required while there's a marshmallow versions conflict
apispec-oneofschema = "*"

[dev-packages]
scipy = "*"
ipykernel = "*"
ipython = "*"
pre_commit = "*"
geojson = "*"
geopandas = "*"
descartes = "*"
black = "==18.9b0"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-testmon = "*"
asynctest = "*"
cachey = "*"
approvaltests = "*"
watchdog = "*"
ipdb = "*"

[requires]
python_version = "3.7"
