# This .dockerignore file follows the "whitelisting" approach described here:
#    https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html

#
# First, exclude everything by default:
#
*

#
# Now un-exclude only those folders and files that are needed for building the image:
#
!autoflow/
!config/
!MANIFEST.in
!setup.cfg
!setup.py
!versioneer.py
!README.md
!Gemfile
!Gemfile.lock
