[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
descartes = "*"
flowclient = {editable = true,path = "./../flowclient"}
pyyaml = "*"
matplotlib = "*"
ipykernel = "*"
papermill = ">=1.2.1"
prefect = "*"
nteract-scrapbook = "*"
sh = "*"
pendulum = "*"
get-secret-or-env-var = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
networkx = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
testing-postgresql = "*"
sqlalchemy-utils = "*"
prefect = {extras = ["viz"]}
ipywidgets = "*"
jupyterlab = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
