.coverage
.noseids
.DS_Store
.Rhistory

tmp/*
venv/*
*/flowdb.egg-info/*
flowdb-cli/build/*
*/.vscode/*
*/dist/*
*/coverage/*
*/venv/*
logs/*
.vscode/*
data/sql_tmp/*
database_data/*
*/__pycache__/*
*/elevation_cache/*
.idea

*.pyc
*.tar
*.tar.gz
*.backup
*.footer

tests/data/csv/*
!/bin/build/