[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"

[dev-packages]
black = {extras = ["jupyter"],version = "==22.1.0"}

[requires]
python_version = "3.9"
