[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pytest = "*"
psycopg2-binary = "*"
numpy = "*"

[dev-packages]
black = "==21.9b0"

[requires]
python_version = "3.9"
