# This .dockerignore file follows the "whitelisting" approach described here:
#    https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html

#
# First, exclude everything by default:
#
*

#
# Now un-exclude only those folders and files that are needed for building the image:
#
!Pipfile
!Pipfile.lock
!frontend/node_modules
!frontend/public
!frontend/src
!frontend/package-lock.json
!frontend/package.json
!backend/uwsgi.ini
!backend/flowauth
!backend/README.md
!backend/setup.cfg
!backend/setup.py
!backend/versioneer.py
