[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "<1.4.37"
flask-sqlalchemy = "*"
flask-login = "*"
flask-principal = "*"
pyjwt = ">2.2.0"
flask-wtf =  "*"
zxcvbn = "*"
versioneer = "*"
passlib = "*"
argon2_cffi = "*"
psycopg2 = "*"
mysqlclient = "*"
cryptography = "*"
get-secret-or-env-var = "*"
pyotp = "*"
itsdangerous = "*"
"dogpile.cache" = "*"
redis = "*"
structlog = "*"
simplejson = "*"
freezegun = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = {extras = ["jupyter"],version = "==22.3.0"}
flowauth = {editable = true,path = "./backend"}
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator", extras=["pytest"]}

[requires]
python_version = "3.8"

[scripts]
build-frontend = "bash start.sh build"
start-all = "bash start.sh start"
start-backend = "flask run"
start-frontend = "bash -c 'cd frontend && npm start'"
test-frontend-with-record = "bash start.sh test --record"
test-frontend = "bash start.sh test"
test-backend = "pytest"
