[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-principal = "*"
flask-jwt-extended = "*"
flask-wtf =  "*"
zxcvbn = "*"
versioneer = "*"
passlib = "*"
argon2_cffi = "*"
psycopg2 = "*"
cryptography = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"flowauth" = {editable = true, path = "./backend"}

[requires]
python_version = "3.6"

[scripts]
build-frontend = "bash start.sh build"
start-all = "bash start.sh start"
start-backend = "flask run"
start-frontend = "bash -c 'cd frontend && npm start'"
test-frontend-with-record = "bash start.sh test --record"
test-frontend = "bash start.sh test"
test-backend = "pytest"


