[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
quart = "*"
hypercorn = "*"
asyncpg = "*"
flask-jwt-extended = {extras = ["asymmetric-crypto"],version = "*"}
structlog = "*"
python-rapidjson = "*"
pyyaml = ">=5.1"
apispec = {extras = ["yaml"],version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
"pytest-cov" = "*"
asynctest = "*"
black = "==19.3b0"
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator"}

[requires]
python_version = "3.7"
