[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
quart = "*"
hypercorn = "*"
asyncpg = "*"
flask-jwt-extended = "*"
structlog = "*"
python-rapidjson = "*"
pyyaml = ">=5.1"
apispec = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
"pytest-cov" = "*"
asynctest = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
