[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
quart = "*"
hypercorn = "*"
asyncpg = "*"
quart-jwt-extended = {extras = ["asymmetric-crypto"],version = "*"}
cryptography = "*" # This _should_ get installed given the flask-jwt-extended extra, but is getting put in the develop section of the lockfile
structlog = "*"
python-rapidjson = "*"
pyyaml = ">=5.1"
apispec = {extras = ["yaml"],version = "*"}
get-secret-or-env-var = "*"
prance = {extras = ["osv"],version = "*"}
werkzeug = "<2.1.3" # Pinned due to incompatibility with quart-jwt-extended (https://github.com/greenape/quart-jwt-extended/issues/3)

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
"pytest-cov" = "*"
asynctest = "*"
black = {extras = ["jupyter"],version = "==22.3.0"}
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator", extras=["pytest"]}
flowapi = {editable = true, path = "."}

[requires]
python_version = "3.8"
