[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pyzmq = "*"
quart = "*"
hypercorn = "*"
asyncpg = "*"
flask-jwt-extended = "*"
ujson = "*"
structlog = "*"
click = "*"
requests = "*"
sqlalchemy = "*"
pytest-asyncio = "*"
flowmachine = {editable = true,path = "./../flowmachine"}
marshmallow = {ref = "3.0.0rc5", git = "https://github.com/marshmallow-code/marshmallow.git"} # Temporarily required while there's a marshmallow versions conflict
marshmallow-oneofschema = {ref = "8195dc3e595fa33a5f007f10ba7cfc08f2177515", git = "https://github.com/marshmallow-code/marshmallow-oneofschema.git"} # Temporarily required while there's a marshmallow versions conflict
flowclient = {editable = true,path = "./../flowclient"}
flowapi = {editable = true,path = "./../flowapi"}
approvaltests = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[dev-packages]

[scripts]
run-tests = "bash run_tests.sh"
