[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autoflow = {editable = true,path = "./../autoflow",extras = ["examples"]}
black = {extras = ["jupyter"],version = "==21.12b0"} # required by papermill
pytest = "*"
pytest-asyncio = "*"
flowmachine = {editable = true,path = "./../flowmachine"}
flowapi = {editable = true,path = "./../flowapi"}
approvaltests = "*"
empty-files = "*" # Needed for approval tests until https://github.com/approvals/ApprovalTests.Python/issues/100 is resolved
pytest-cov = "*"
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator", extras=["pytest"]}
geojson = "*"
flowclient = {editable = true, path = "./../flowclient"}

[dev-packages]
tavern = {extras = ["pytest"],version = "*"}

[requires]
python_version = "3.8.5"

[scripts]
run-tests = "bash run_tests.sh"
