[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask_jwt_extended = "*"
quart = "*"
click = "*"
requests = "*"
pytest-dotenv = "*"
sqlalchemy = "*"
pytest-asyncio = "*"
flowmachine = {editable = true,path = "./../flowmachine"}
flowclient = {editable = true,path = "./../flowclient"}
approvaltests = "*"

[requires]
python_version = "3.7"

[dev-packages]
