[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
numpy = "*"
pytest = "*"
gitpython = "*"
docopt = "*"
pandas = "*"
tohu = {file = "https://github.com/maxalbert/tohu/archive/v0.5.1.tar.gz"}
"psycopg2-binary" = "*"
descartes = "*"
black = {extras = ["jupyter"],version = "==22.1.0"}

[requires]
python_version = "3.9"
