[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
numpy = "*"
pytest = "*"
gitpython = "*"
docopt = "*"
pandas = "*"
"psycopg2-binary" = "*"
descartes = "*"
black = {extras = ["jupyter"],version = "==24.3.0"}

[requires]
python_version = "3.12"
