[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "< 2.0.0"
cryptography = "*"
click = "*"
requests = "*"
pytest = "*"
simplejson = "*"

[dev-packages]
versioneer = "*"
pytest-cov = "*"
flowkit-jwt-generator = {editable = true,path = ".", extras=["pytest", "cli"]}
black = "==21.9b0"

[requires]
python_version = "3.8"
