[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = ">2.2.0"
cryptography = "*"
click = "*"
requests = "*"
pytest = "*"
simplejson = "*"

[dev-packages]
versioneer = "*"
pytest-cov = "*"
flowkit-jwt-generator = {editable = true,path = ".", extras=["pytest", "cli"]}
black = {extras = ["jupyter"],version = "==21.11b1"}

[requires]
python_version = "3.8"
