[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipykernel = "*"
ipython = "*"
pre_commit = "*"
geojson = "*"
geopandas = "*"
descartes = "*"
black = "==19.10b0"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-testmon = "*"
approvaltests = "*"
flowmachine-core = {editable = true,path = "./../flowmachine-core"}
flowmachine-queries = {editable = true,path = "."}

[requires]
python_version = "3.7"
