[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
pyjwt = "*"
merge-args = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
asynctest = "*"
versioneer = "*"
black = "==19.10b0"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.8"
