[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "==0.18.2"
pandas = "*"
pyjwt = "<3.0.0"
merge-args = "*"
tqdm = "*"
bpython = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
asynctest = "*"
versioneer = "*"
black = "==21.9b0"
respx = "*"
ipython = "*"
ipdb = "*"
flowclient = {editable = true, extras = ["test"], path = "."}

[requires]
python_version = "3.8"
