[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pandas = "*"
pyjwt = "<2.0.0"
merge-args = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
asynctest = "*"
versioneer = "*"
black = "==20.8b1"
respx = "*"
ipython = "*"
ipdb = "*"
flowclient = {editable = true, extras = ["test"], path = "."}

[requires]
python_version = "3.8"
