[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyterlab = "*"
"3ff404a" = {editable = true, path = "./../flowclient"}
flask-jwt-extended = "*"
quart = "*"

[dev-packages]

[requires]
python_version = "3.7"
