/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p.expired {
  font-style: italic;
  color: #ccc;
}

p.expired span {
  font-style: normal;
}

.MuiGrid-item * {
    text-overflow: ellipsis;
    overflow: hidden;
}