site_name: FlowKit
repo_name: "Flowminder/FlowKit"
repo_url: https://github.com/Flowminder/FlowKit
docs_dir: source
site_dir: flowkit-docs
edit_uri: ""
plugins:
  - mktheapidocs:
      modules:
        flowmachine:
          section: flowmachine
          source_repo: "https://github.com/Flowminder/FlowKit/tree/$BRANCH/flowmachine"
        flowclient:
          section: flowclient
          source_repo: "https://github.com/Flowminder/FlowKit/tree/$BRANCH/flowclient"
  - mknotebooks:
      execute: true
      preamble: "notebook_preamble.py"
      timeout: 600

nav:
  - index.md
  - install.md
  - analyst.md
  - Developer:
    - developer/developer.md
    - developer/dev_environment_setup.md
    - Architectural Decision Records (ADR):
       - developer/adr/README.md
       - developer/adr/0001-pipenv-for-package-and-dependency-management.md
       - developer/adr/0002-pytest-for-testing.md
       - developer/adr/0003-http-api.md
       - developer/adr/0004-http-framework.md
       - developer/adr/0005-IPC-methods.md
       - developer/adr/0006-JWTs.md
       - developer/adr/0007-mapbox-for-worked-examples.md
  - administrator.md
  - license.md
  - Worked examples:
      - worked_examples/index.md
      - worked_examples/Flows.ipynb
      - worked_examples/mobile-data-usage.ipynb
      - worked_examples/commuting-patterns.ipynb
  - FlowAPI specification: api-spec.html
  - api-docs-flowmachine
  - FlowClient:
      - flowclient/example_usage.ipynb
      - api-docs-flowclient

theme:
  name: "material"
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  feature:
    # True to use tabs at the top, in addition to the side navbar
    tabs: false
  palette:
    primary: "#095798"
    accent: "#2977B8"
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.png
  logo:
    icon: "\uE80C"
# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - "stylesheets/extra.css"
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
extra:
  repo_icon: "github"
  social:
    - type: "github"
      link: "https://github.com/Flowminder"
    - type: "twitter"
      link: "https://twitter.com/Flowminder"
