site_name: FlowKit
repo_name: "Flowminder/FlowKit"
repo_url: https://github.com/Flowminder/FlowKit
docs_dir: source
site_dir: flowkit-docs
edit_uri: ""
plugins:
  - mktheapidocs:
      modules:
        flowmachine:
          section: flowmachine
          source_repo: "https://github.com/Flowminder/FlowKit/tree/$DOCS_BRANCH/flowmachine"
        flowclient:
          section: flowclient
          source_repo: "https://github.com/Flowminder/FlowKit/tree/$DOCS_BRANCH/flowclient"
        flowetl:
          section: flowetl
          source_repo: "https://github.com/Flowminder/FlowKit/tree/$DOCS_BRANCH/flowetl/flowetl"
  - mknotebooks:
      execute: true
      preamble: "notebook_preamble.py"
      timeout: 600

nav:
  - index.md
  - install.md
  - Analysts:
    - analyst/index.md
    - FlowClient:
      - analyst/flowclient/example_usage.ipynb
      - api-docs-flowclient
    - Worked examples:
      - analyst/worked_examples/index.md
      - analyst/worked_examples/flows-above-normal.ipynb
      - analyst/worked_examples/commuting-patterns.ipynb
      - analyst/worked_examples/cell-towers-per-region.ipynb
      - analyst/worked_examples/unique-subscriber-counts.ipynb
      - analyst/worked_examples/joined-spatial-aggregate.ipynb
    - analyst/autoflow.md
    - Advanced usage:
        - analyst/advanced_usage/index.md
        - Worked examples:
            - analyst/advanced_usage/worked_examples/mobile-data-usage.ipynb
  - Developers:
      - developer/index.md
      - developer/dev_environment_setup.md
      - api-docs-flowmachine
      - FlowAPI specification: developer/api-spec.html
      - Architectural Decision Records (ADR):
        - developer/adr/README.md
        - developer/adr/0001-pipenv-for-package-and-dependency-management.md
        - developer/adr/0002-pytest-for-testing.md
        - developer/adr/0003-http-api.md
        - developer/adr/0004-http-framework.md
        - developer/adr/0005-IPC-methods.md
        - developer/adr/0006-JWTs.md
        - developer/adr/0007-mapbox-for-worked-examples.md
        - developer/adr/0008-jupyter-notebooks-for-autoflow.md
        - developer/adr/0009-asciidoctor-pdf-for-notebook-conversion.md
        - developer/adr/0010-prefect-for-autoflow.md
  - System Administrators:
    - administrator/index.md
    - administrator/deployment.md
    - System management:
        - administrator/management/cache.md
        - ETL:
          - administrator/management/etl/etl.md
          - api-docs-flowetl
        - administrator/management/logging.md
        - administrator/management/users.md
  - license.md

theme:
  name: "material"
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - navigation.tabs
  palette:
    accent: "#095798"
    primary: "#2977B8"
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.png
  icon:
    repo: fontawesome/brands/github
    logo: material/scatter-plot
# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde

extra_css:
  - "stylesheets/extra.css"
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
extra:
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/Flowminder"
    - icon: fontawesome/brands/twitter
      link: "https://twitter.com/Flowminder"
