[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
black = "==20.8b1"
jupyter-client = "*"
nbconvert = "*"
pygments = "*"
pymdown-extensions = "*"
tabulate = "*"
pandas = "*"
mkdocs-material = "*"
ipykernel = "*"
geopandas = "*"
numpydoc = "*"
click = "*"
flowmachine = {editable = true,path = "./../flowmachine"}
descartes = "*"
flowclient = {editable = true,path = "./../flowclient"}
flowapi = {editable = true,path = "./../flowapi"}
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator"}
mktheapidocs = "*"
mknotebooks = "*"
flask-jwt-extended = "*"
mapboxgl = "*"
markdown = "==3.3.0" # Working around version conflict caused by airflow's aggressive pinning
chroma-py = "==0.1.0.dev1"
ipywidgets = "*"

[dev-packages]
jupyterlab = "*"
flowetl = {editable = true,path = "./../flowetl/flowetl"} # Working around version conflict caused by airflow's aggressive pinning

[requires]
python_version = "3.8"

[scripts]
build = "bash build.sh"
serve = "bash build.sh serve --dirtyreload"
deploy = "bash build.sh gh-deploy"
