[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
jupyter-client = "*"
nbconvert = "*"
nbconvert-utils = "*"
pygments = "*"
pymdown-extensions = "*"
tabulate = "*"
pandas = "*"
mkdocs-material = "*"
ipykernel = "*"
geopandas = "*"
numpydoc = "*"
black = "==19.3b0"
click = "*"
flowmachine = {editable = true,path = "./../flowmachine"}
marshmallow = {editable = true,ref = "3.0.0rc5",git = "https://github.com/marshmallow-code/marshmallow.git"} # Temporarily required while there's a marshmallow versions conflict
marshmallow-oneofschema = {editable = true,ref = "8195dc3e595fa33a5f007f10ba7cfc08f2177515",git = "https://github.com/marshmallow-code/marshmallow-oneofschema.git"} # Temporarily required while there's a marshmallow versions conflict
descartes = "*"
flowclient = {editable = true,path = "./../flowclient"}
flowapi = {editable = true,path = "./../flowapi"}
mktheapidocs = "*"
mknotebooks = "*"
flask-jwt-extended = "*"
quart = "*"
python-dotenv = "*"
structlog = "*"
folium = "*"

[dev-packages]
jupyterlab = "*"
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator"}

[requires]
python_version = "3.7"

[scripts]
build = "bash build.sh"
serve = "bash build.sh serve --dirtyreload"
deploy = "bash build.sh gh-deploy"

[pipenv]
allow_prereleases = true
