[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
black = {extras = ["jupyter"],version = "==22.1.0"}
jupyter-client = "*"
nbconvert = "*"
pygments = "*"
pymdown-extensions = "*"
tabulate = "*"
pandas = "*"
mkdocs-material = "*"
ipykernel = "*"
geopandas = "*"
numpydoc = "*"
click = "*"
flowmachine = {editable = true,path = "./../flowmachine"}
descartes = "*"
flowclient = {editable = true,path = "./../flowclient"}
flowapi = {editable = true,path = "./../flowapi"}
flowkit-jwt-generator = {editable = true,path = "./../flowkit_jwt_generator"}
mktheapidocs = "*"
mknotebooks = "*"
mapboxgl = "*"
markdown = "==3.3.5" # Working around version conflict caused by airflow's aggressive pinning
chroma-py = "==0.1.0.dev1"
ipywidgets = "*"
flowetl = {editable = true,path = "./../flowetl/flowetl"}


[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.8"

[scripts]
build = "bash build.sh"
serve = "bash build.sh serve --dirtyreload"
deploy = "bash build.sh gh-deploy"
