[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["postgres", "crypto"],version = "==1.10.14"}
click = "*"

[dev-packages]
structlog = "*"
flowetl = {editable = true,path = "./flowetl"}
pytest = "*"
SQLAlchemy = "*"
"psycopg2-binary" = "*"
pandas = "*"
docker = "*"
versioneer = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
