[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["crypto", "celery"],version = "==2.2.5"}
apache-airflow-providers-postgres = "*"
sqlalchemy = "*"
click = "*"
markupsafe="==2.0.1"
wtforms = "<3.0.0"
pyparsing = "==3.0.9"

[dev-packages]
structlog = "*"
flowetl = {editable = true,path = "./flowetl"}
pytest = "*"
"psycopg2-binary" = "*"
pandas = "*"
docker = "*"
versioneer = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
