[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["postgres", "crypto"],version = "==1.10.15"}
sqlalchemy = "<1.4.33"
click = "*"
apache-airflow-upgrade-check = "*"
wtforms = "<3.0.0"

[dev-packages]
structlog = "*"
flowetl = {editable = true,path = "./flowetl"}
pytest = "*"
sqlalchemy = "<1.4.33"
"psycopg2-binary" = "*"
pandas = "*"
docker = "*"
versioneer = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
