# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# FlowETL requirements (input to pip-compile)
#
# Note: if we used pip-tools to compile directly from setup.py,
# we wouldn't be able to specify the constraints file required for installing airflow

# Airflow and python versions must match the versions in the base docker image
-c https://raw.githubusercontent.com/apache/airflow/constraints-${AIRFLOW_VERSION}/constraints-${PYTHON_VERSION}.txt

# Specifying editable install of flowetl here so we get its dependencies, but we don't want to actually install it
# so need to specify '--unsafe-package flowetl' option to pip-compile
-e flowetl @ ./flowetl

# Airflow version must match the version in the base docker image
apache-airflow == ${AIRFLOW_VERSION}

# Flowpytertask for flowpyterhub
flowpyter-task
